<div class="contentBx">
    <div class="formBx col-md-6 mx-auto">
      <form #frm="ngForm" action="" class="form-box" (ngSubmit)="submit()">
        <h3 class="text-center text-muted">Institute Details</h3>
        <br />
        <div class="form-group">
        <label>Institute Name</label>
        <input
          type="text"
          name="institute.instituteName"
          class="form-control"
          required
          placeholder="enter the Institute name"
          [(ngModel)]="institute.instituteName"
        />
        </div>
        
        <div class="form-group">
        <label>Short Name</label>
        <input
          type="text"
          name="institute.shortName"
          class="form-control"
          required
          placeholder="enter the Shortname"
          [(ngModel)]="institute.shortName"   
        />
          </div>

          <div class="form-group">
        <label>Institute Name</label>
        <input
          type="text"
          name="institute.instituteCode"
          class="form-control"
          required
          placeholder="enter the Institute Code"
          [(ngModel)]="institute.instituteCode"  
        />
        </div>

        <div class="form-group">
        <label>Institute Name</label>
        <input
          type="text"
          name="institute.instituteName"
          class="form-control"
          required
          placeholder="enter the Institute name"
          [(ngModel)]="institute.instituteName"
        />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          name="institute.email"
          class="form-control"
          required
          placeholder="enter the email"
          [(ngModel)]="institute.email" 
        />
        </div>

        <div class="form-group">
        <label>Contact Number</label>
        <input
          type="text"
          name="institute.contactNumber"
          class="form-control"
          required
          placeholder="enter the Contact number"
          [(ngModel)]="institute.contactNumber" 
        />
        
        </div>

        <div class="inputBx text-center">
          <button class="btn btn-primary" type="submit">Update</button>
          </div>
        
    
      </form>
    </div>
    </div>