<div class="row mt-3">
  <div class="col md-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="#" class="navbar-brand">ITEM SERVICE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
        aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>       

      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link"  routerLink="/register">Register User</a>
          </li>

          <li class="nav-item active">
              <a class="nav-link" routerLink="/userlist">Show all Users</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>

<div class="row mt-5 r1">
  <div class="col-md-12">
      <hr>
      <router-outlet></router-outlet>
      <hr>
  </div>
</div>